/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {

text-align: center;

}

h2 {
    text-align: center; /* Center the text */
}

/* Navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

/* Align the logout button to the right */
nav ul .right {
    margin-left: auto;
}

.logout-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Form Styles */
form {
    display: block;
    margin: 20px auto; /* Centering the form */
    max-width: 400px; /* Limit the width of the form */
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}


form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input {
    box-sizing: border-box;
    width: 100%; /* Full width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%; /* Full width button */
    padding: 10px; /* Add padding for comfort */
    background-color: #333; /* Button background */
    color: white; /* Button text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
}

form button:hover {
    background-color: #575757; /* Darker on hover */
}

.signin-container h2,
.signin-container p {
    text-align: center; /* Center the text */
}

/* Table Styles */
#report-info-body table, th, td {
    border: 1px solid black;
}

#report-info-body table {
    width: auto;
}

.dropdown-content table {
    border-collapse: collapse;
}


/* Report */
#report_container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Optional: space out the items */
    border-top: 2px solid #000;
}

#report_container h2 {
    border-bottom: 2px solid #000;
}

#report-info {
    /* flex: 0 1 20%; */
 /* Optional: add some space between the sections */
    border-right: 2px solid #000; /* Add a right border */
}

#report-info-body {
    padding: 10px;
    height: 575px;
    overflow-y: auto;
}

.dropdown-content {
    margin-left: 20px;
}

summary {
    padding-bottom: 2px;
}



/* Hex view */
#hex-view {
    flex: 1; /* Allow this section to take available space */
}

.hex-view-table {
    display: grid;
    font-family: monospace;
    width: fit-content;
    border-collapse: collapse;
}

.hex-view-header,
.hex-view-body {
    display: table-row-group; /* Make header and body behave like parts of a table */
}

.hex-view-body {
    display: block; /* Allow the body to behave like a block element */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 550px;
}


.hex-view-header-item,
.hex-view-body-item {
    flex: 1; /* Allow each section to take equal space */
    overflow: hidden; /* Hide overflow if content is too large */
    white-space: nowrap; /* Prevent wrapping of content */
    text-overflow: ellipsis; /* Optional: add ellipsis for overflowed text */
    border: 2px solid transparent; /* Add transparent border for alignment */
}


.hex-view-header-item {
    border-bottom: 2px solid #000; /* Add bottom border to header items for separation */
}

.hex-view-body-item {
    flex: 1; /* Allow each section to take equal space */
    overflow: hidden; /* Hide overflow if content is too large */
    white-space: nowrap; /* Prevent wrapping of content */
    text-overflow: ellipsis; /* Optional: add ellipsis for overflowed text */
    border-top: none; /* Remove top border for body items to avoid double border */
}

.hex-view-table th, .hex-view-table td {
    border: 2px solid #000; /* Border for table cells */
    text-align: left; /* Align text to the left */
}

#offsets, #offset-header {
    width: 72px;
}

#decoded-text, #decoded-text-header {
    width: 116px;
}

.highlight {
    background-color: yellow; /* Or any color you prefer */
}


