{% extends "base_nav.html" %}

{% block title %}History{% endblock %}

{% block content %}
<div id="history-container">
    <h2>History</h2>
    {% if history|length == 0 %}
    <p>No history yet</p>
    {% else %}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Filename</th>
        </tr>
        </thead>
        <tbody>
        {% for history_item in history %}
        <tr>
            <td>
                <a href="{{ url_for('show_report', file_id=history_item.file_id) }}">{{ history_item.file_id }}</a>
            </td>
            <td>
                <a href="{{ url_for('get_binary', file_id=history_item.file_id) }}">{{ history_item.filename }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}