{% extends "base_nav.html" %}

{% block title %}Report{% endblock %}

{% block content %}
<div id="report_container">
    <div id="report-info">
        <div id="report-info-header">
            <h2>Report info</h2>
        </div>
        <div id="report-info-body">
            <div id="general-information">
                <details class="dropdown">
                    <summary>General Information</summary>
                    <div class="dropdown-content">
                        <table>
                            <tr>
                                <td><strong>Index</strong></td>
                                <td>{{ report.idx }}</td>
                            </tr>
                            <tr>
                                <td><strong>Filetype</strong></td>
                                <td>{{ report.filetype }}</td>
                            </tr>
                        </table>
                    </div>
                </details>
            </div>

            {% if report.filetype == "exe" %}
            {% set fields_mapping = { "header_first": "MS_DOS_header",
            "header_second": "PE_header",
            "import_table": "Import_table",
            "export_table": "Export_table"} %}
            {% else %}
            {% set fields_mapping = { "header_first": "ELF_header",
            "header_second": "Segments",
            "import_table": "Sections",
            "export_table": "Symbols"} %}
            {% endif %}

            <div id="header-1">
                <details class="dropdown">
                    <summary> {{ fields_mapping["header_first"] }}</summary>
                    <div class="dropdown-content">
                        {% for key, value in report["header_first"].items() %}
                        <details>
                            <summary>{{ key }}</summary>
                            <div class="dropdown-content">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="{{ value.offset }}"><strong>Value</strong></a>
                                        </td>
                                        <td>{{ value.value }}</td>
                                    </tr>
                                </table>
                            </div>
                        </details>
                        {% endfor %}
                    </div>
                </details>
            </div>

            <div id="header-2">
                <details class="dropdown">
                    <summary> {{ fields_mapping["header_second"] }}</summary>
                    <div class="dropdown-content">
                        {% for key, value in report["header_second"].items() %}
                        <details>
                            <summary>{{ key }}</summary>
                            <div class="dropdown-content">
                                <table>
                                    <tr>
                                        <td><strong>Value</strong></td>
                                        <td>{{ value.value }}</td>
                                    </tr>
                                </table>
                            </div>
                        </details>
                        {% endfor %}
                    </div>
                </details>
            </div>

            <div id="import-table">
                <details class="dropdown">
                    <summary> {{ fields_mapping["import_table"] }}</summary>
                    <div class="dropdown-content">
                        {% for dll_name, functions in report["import_table"].items() %}
                        <details>
                            <summary>{{ dll_name }}</summary>
                            <div class="dropdown-content">
                                {% for function in functions %}
                                <details>
                                    <summary>{{ function.function }}</summary>
                                    <div class="dropdown-content">
                                        <table>
                                            <tr>
                                                <td><strong>Address</strong></td>
                                                <td>{{ function.address }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </details>
                                {% endfor %}
                            </div>
                        </details>
                        {% endfor %}
                    </div>
                </details>
            </div>

            <div id="export-table">
                <details class="dropdown">
                    <summary> {{ fields_mapping["export_table"] }}</summary>
                    <div class="dropdown-content">
                        <p>{{ report["export_table"] | default('No export information available') }}</p>
                    </div>
                </details>
            </div>
        </div>


    </div>

    <div id="hex-view">
        <h2>Hex Viewer</h2>

        <table class="hex-view-table">
            <thead class="hex-view-header">
            <tr>
                <th class="hex-view-header-item" id="offset-header">Offset (h)</th>
                <th class="hex-view-header-item" id="hex-header">00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E 0F</th>
                <th class="hex-view-header-item" id="decoded-text-header">Decoded text</th>
            </tr>
            </thead>
            <tbody class="hex-view-body">
            <tr>
                <td class="hex-view-body-item" id="offsets"></td>
                <td class="hex-view-body-item" id="hex"></td>
                <td class="hex-view-body-item" id="decoded-text"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const offsetsContainer = document.getElementById("offsets");
        const hexContainer = document.getElementById("hex");
        const decodedTextContainer = document.getElementById("decoded-text");
        let chunkIndex = 0;
        let loading = false;

        function loadNextChunk() {
        if (loading) return;
        loading = true;

        // Ensure the correct file_id is used in the fetch URL
        const fileId = {{ file_id }};

        fetch(`/hex/${fileId}?chunk_idx=${chunkIndex}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.offsets && data.hex_lines && data.decoded_text) {
                    // Append new chunk to each part of the hex viewer
                    data.offsets.forEach(offset => {
                        const offsetElement = document.createElement("div");
                        offsetElement.textContent = offset;
                        offsetsContainer.appendChild(offsetElement);
                    });

                    data.hex_lines.forEach(hexLine => {
                        const hexElement = document.createElement("div");
                        hexElement.textContent = hexLine;
                        hexContainer.appendChild(hexElement);
                    });

                    data.decoded_text.forEach(decoded => {
                        const decodedElement = document.createElement("div");
                        decodedElement.textContent = decoded;
                        decodedTextContainer.appendChild(decodedElement);
                    });

                    chunkIndex++; // Increase the chunk index for the next load
                }
                loading = false;
            })
            .catch(error => {
                console.error("Error loading hex chunk:", error);
                loading = false;
            });
        }


        // Event listener for scrolling
        const hexViewBody = document.querySelector('.hex-view-body');
        hexViewBody.addEventListener("scroll", function () {
            if (hexViewBody.scrollTop + hexViewBody.clientHeight >= hexViewBody.scrollHeight - 10) {
                loadNextChunk(); // Load next chunk when reaching the bottom
            }
        });

        // Initial load
        loadNextChunk();
    });


</script>


{% endblock %}