<form method="POST">
    {% if not_set %}
        <p>Two factor authentication isn't set. Please generate QR code first.</p>
    {% endif %}
    <button type="submit" name="generate_qr">Generate QR-code for Google Authenticator</button>
    <br>
    {% if qr_code %}
        <img src="{{ url_for('static', filename=qr_code) }}" alt="QR Code for 2FA">
    {% endif %}
    <br>
    <input type="text" name="code" placeholder="Enter code from Google Authenticator">
    <button type="submit" name="verify_code">Verify code</button>
</form>
